/*DosageButtonInput Styling*/
.InputPane_DosageButtonInputWrapper {
    display: flex;
    align-items: center;
    margin-left: 2%
  }
  
  .InputPane_DosageButtons {
    width: 85%;
    margin-bottom: 1%;
  }
  
  .InputPane_DosageOptionsButton {
    border: 1px solid;
    border-radius: 10px;
    background-color: grey;
    color: white;
    padding-top: 0;
  }
  
  .InputPane_DosageOptionsButton:hover {
    background-color: white;
    color: grey;
  }
  
  .InputPane_DosageButtonText {
    font-size: 125%;
    margin-left: 1%;
  }
  
  .InputPane_DosageInputTextWrapper {
    display: flex;
  }
  
  .InputPane_DosageInput {
    margin-left: 1%;
    display: flex;
  }
  
  .InputPane_DosageInputText {
    height: 3vw;
  }
  
  .InputPane_AddDosageInputButton {
    margin-left: 1%;
    background-color: white;
    font-size: 150%;
    border: 2px solid;
    border-radius: 20px;
  }
  
  .InputPane_DeleteDosageButton {
    height: 3vw;
    padding: 0;
    width: 1vw;
    background-color: white;
    border: 1px solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .InputPane_DeleteDosageButton:hover {
    background-color: red;
  }
  
  .InputPane_AddDosageInputButton:hover {
    background-color: green;
    color: white;
  }
  
  .InputPane_WeightScaleButton {
    margin-left: 1%;
    background-color: white;
    font-size: 150%;
    border: 2px solid;
    border-radius: 20px;
  }
  
  .InputPane_WeightScaleButton:hover {
    background-color: grey;
    color: white;
  }
  
  /*DosageOptions Styling*/
  .InputPane_DosageOptions {
    width: 15%;
  }
  
  .InputPane_DosageOptionDropdown {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
  }
  
  .InputPane_DosageOptionDropdownButton {
    border: 1px solid;
  }
  
  .InputPane_DosageOptionDropdownButton:hover {
    background-color: grey;
    color: white;
  }