.InputPane {
  position: absolute;
  width: 100%; /* 45.2% */
  height: 100%;
  overflow-y: scroll;
}


/*WidgetBox styling*/
.InputPane_WidgetBox {
  margin: auto;
  margin-top: 2%;
  width: 95%;
  border-radius: 25px;
  border: 2px solid;
}

.InputPane_WidgetBox_Wrapper {
  margin: auto;
  margin-top: 2%;
  width: 95%;
}

.InputPane_WidgetBox_Plus {
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: 2px solid;
}

.InputPane_WidgetBox_Title {
  font-size: 150%;
  font-weight: 600;
  margin-left: 2.5%;
}

.InputPane_WidgetBox_Divider {
  border-top: 5px solid #088e80;
  border-radius: 4px;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 1%;
  margin-right: 1%;
}

.InputPane_WidgetBox_PlusButton {
  text-align: center;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #088e80;
  color: white;
}

.InputPane_WidgetBox_PlusButton:hover {
  background-color: #5bbbb1;
  color: black;
}


/*TitleBox styling*/
.InputPane_TitleBox {
  margin: 1%;
}

.InputPane_TitleBox_Name {
  font-size: 200%;
}

.MedicationTitleText input {
  border: none;
}


.InputPane_TitleBox_Divider {
  border-top: 5px solid #088e80;
  border-radius: 5px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/*UnitsBox styling*/
.InputPane_UnitsBox_UnitsTitle {
  font-size: 150%;
  font-weight: 600;
}

/*ConcentrationBox styling*/
.InputPane_ConcentrationBox_Input {
  display: inline-block;
  margin: 2%;
  font-size: 150%;
}

.InputPane_ConcentrationBox_Units {
  display: inline-block;
  font-size: 150%;
}



/*Unit Buttons Styling*/
.Inactive-Unit-Button{
  background-color: white;
  color: black;
  border-radius: 30px;
  outline: none !important;
  border-width: 1px;
  width: 3.9vw;
  height: 4.9vh;
  transition: ease background-color 250ms;
  transition: ease color 250ms;
  margin: .8vw;
  cursor: pointer;
}

.Inactive-Unit-Button:hover {
  background-color: grey;
  color: white;
}

.Active-Unit-Button{
  background-color: grey;
  color: white;
  border-radius: 30px;
  outline: none !important;
  border-width: 1px;
  width: 3.9vw;
  height: 4.9vh;
  transition: ease background-color 250ms;
  transition: ease color 250ms;
  margin: .8vw;
  cursor: pointer;
}