/*WeightSelection styling*/
.InputPane_WeightSelectionWrapper {
    display: flex;
    align-items: center;
    margin-left: 2%;
    margin-top: 1vh;
  }
  .InputPane_SelectedWeight {
    display: inline-block;
    margin: 0.5%;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    white-space: nowrap;
    padding-left: 1%;
    padding-right: 1%;
  }
  
  .InputPane_SelectedWeights {
    width: 85%;
  }
  
  .InputPane_WeightSelector {
    width: 15%;
  }
  
  .InputPane_WeightSelectorButton {
    border: 1px solid;
    border-radius: 10px;
    background-color: grey;
    color: white;
  }
  
  .InputPane_WeightSelectorButton:hover {
    background-color: white;
    color: grey;
  }
  
  .InputPane_WeightSelectCheckboxWrapper {
    display: inline-block;
    margin: 0.5%;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    white-space: nowrap;
    padding-left: 1%;
    padding-right: 2%;
  }
  
  InputPane_InputPane_WeightSelectCheckbox {
    display: inline-block;
  }
  
  .InputPane_WeightSelectCheckboxDisplay {
    display: inline-block;
    margin-left: 5%;
  }