/** @format */

.SideBar {
  background-color: black;
  position: relative;
}

.SideBar_BottomBar {
  background-color: #088e80;
  position: relative;
  top: 95%;
  height: 5%;
}

.Side-Bar__Bottom-Bar {
  background-color: #088e80;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 16%;
  height: 6.666%;
}

.Side-Bar__Bottom-Bar__Logo {
  height: 100%;
  width: 30%;
  display: inline-block;
}

.Side-Bar__Bottom-Bar__Logo img {
  height: 75%;
  margin: 10%;
}

.Side-Bar__Bottom-Bar__Version-Text {
  position: fixed;
  height: 100%;
  width: 70%;
  display: inline-block;
  margin-left: 1%;
}

.Side-Bar__Bottom-Bar__Version-Text div {
  color: white;
}

/** @format */

.SideBar {
}

.SideBar_BottomBar_Col1 {
  position: relative;
  width: 30%;
  left: 0%;
}

.SideBar_BottomBar_Col1 img {
  display: block;
}

.SideBar_BottomBar_Col2 {
  position: relative;
  width: 70%;
  left: 30%;
}

.SideBar_BottomBar_VersionText {
  position: relative;
  height: 100%;
  width: 70%;
  display: inline-block;
  margin-left: 1%;
}

.SideBar_BottomBar_VersionText div {
  color: white;
}
