/** @format */

.NavigationBar_Base {
  position: absolute;
  background-color: #088e80;
  height: 100%;
  width: 100%;
  box-shadow: 10px;
}

.NavigationBar_LeftPanel {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  align-items: center;
}

.NavigationBar_RightPanel {
  position: absolute;
  top: 0%;
  left: 60%;
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  flex-flow: row nowrap;
  align-items: center;
}

.NavigationBar_AccountMenuImage {
  height: 90%;
  padding-left: 1vw;
  padding-right: 1vw;
}

.NavigationBar_HospitalHeader {
  font-size: 3vh;
  color: white;
  padding-left: 1vw;
  padding-right: 0.5vw;
}

.NavigationBar_MenuLink {
  font-size: 2vh;
  height: 100%;
  width: auto;
  display: inline-flex;
}

.NavigationBar_LinkButton {
  border: none;
  color: white;
  background-color: #088e80;
  font-size: 120%;
  padding-left: 2vw;
  padding-right: 2vw;
}

.NavigationBar_LinkButton:hover {
  background-color: #5bbbb1;
  color: black;
}