.MiddleBar{
    position: fixed;
    left: 16%;
    top: 5.185185%;
    width: 46.1%; /* 45.2% */
    height: 94.814815%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.MedicationTitleText{
    position: absolute;
    left: 3.0%;
    top: 0%; 
    font-weight: 600;
    font-size: calc(1.1vh + 1.8vw);
}

.MedicationTitleText input{
    border: none;
}

.FolderPath{
    position: absolute;
    left: 3.6%;
    top: 7.1%;
    font-size: calc(.5vh + .85vw);
    font-weight: 100;
}

.Divider{
    position: absolute;
    top: 11.6%;
    left: 3.6%;
    width: 94%;
    background-color:  #088E80;
    border-color:  #088E80;
    height: .5%;
}

.UnitsTitle{
    position: absolute;
    top: 14.4%;
    left: 3.6%;
    font-size: calc(.93vh + 1.13vw); /*calc(1vh + 1.4vw); */
    font-weight: 600;
}

.Units{
    position: absolute;
    top: 13%;
    left: 14%;
    font-size: calc(.9vh + .7vw)
}

.ConcentrationTitle{
    position: absolute;
    top: 22.8%;
    left: 3.6%;
    font-size: calc(.93vh + 1.13vw);
    font-weight: 600;
}

.ConcentrationText{
    position: absolute;
    top: 23.2%;
    left: 29.2%;
}
.ConcentrationText input{
    height: 5.5vh;
}

.ConcentrationUnits{
    position: absolute;
    top: 23.6%;
    left: 40%;
    font-size: calc(.8vh + 1vw);
}

.DosageConfigurationTitle{
    position: absolute;
    top: 30.7%;
    left: 3.6%; /* left: 17.5%, 4.8611111 multiplier */
    font-size: calc(.93vh + 1.13vw);
    font-weight: 600;
}

.FirstDosageTitle{
    position: absolute;
    left: 3.6%;
    top: 37.1%;
    font-weight: 400;
    font-size: calc(.93vh + 1.13vw);
}

.FirstDosageText{
    position: absolute;
    top: 37.2%;
    left: 14.5%;
}

.FirstDosageText input{
    height: 5.5vh;
}

.FirstDosageUnits{
    position: absolute;
    left: 24.0%;
    top: 37.6%;    
    font-size: calc(.8vh + 1vw);
}

.SubsequentTitle{
    position: absolute;
    top: 37.1%;
    left: 38.5%;
    font-weight: 400;
    font-size: calc(.93vh + 1.13vw);
}

.SubsequentDosageText{
    position: absolute;
    top: 37.2%;
    left: 62%;
}

.SubsequentDosageText input{
    height: 5.5vh;
}

.SubsequentDosageUnits{
    position: absolute;
    top: 37.6%;
    left: 71.5%;
    font-size: calc(.8vh + 1vw)
}

.ConstraintsTitle{
    position: absolute;
    top: 45.3%;
    left: 3.6%;
    font-size: calc(.93vh + 1.13vw);
    font-weight: 600;
}

.SingleDoseHeader {
    position: absolute;
    top: 50.8%;
    left: 3.6%;
    font-weight: 400;
    font-size: calc(.93vh + 1.13vw);
}

.SingleMin {
    position: absolute;
    top: 50.8%;
    left: 25.8%;
}
.SingleMax {
    position: absolute;
    top: 50.8%;
    left: 57.0%;
}
.CumlDoseHeader {
    position: absolute;
    top: 57.3%;
    left: 3.6%;
    font-weight: 400;
    font-size: calc(.93vh + 1.13vw);
}
.CumlMin {
    position: absolute;
    top: 57.3%;
    left: 25.8%;
}
.CumlMax {
    position: absolute;
    top: 57.3%;
    left: 57.0%
}
.NotesHeader {
    position: absolute;
    top: 64.0%;
    left: 3.6%;
    font-size: calc(.93vh + 1.13vw);
    font-weight: 600;
}
.NotesLines {
    position: absolute;
    top: 69.5%;
    left: 3.6%;
    width: 44.8vw;
    font-size: calc(1vh + 1vw);
}

input:focus{
    outline: none;
}
.HistoryTracking {
    position: absolute;
    top: 96%;
    left: 3.6%;
    border-style: solid;
    border-color: gray;
    border-width: .3vh;
    height: 6.5vh;
    width: 40.3vw;
    font-weight: 600;
    font-size: calc(.5vh + 1.02vw);
}
.HistoryTracking input {
    margin: 1.91%;
    width: 2vh;
    height: 2vh;
}
.AdditionalInformation {
    position: absolute;
    top: 105%;
    left: 3.6%;
    border-style: solid;
    border-color: gray;
    border-width: .3vh;
    height: 6.5vh;
    width: 40.3vw;
    font-weight: 600;
    font-size: calc(.5vh + 1.02vw);
}
.AdditionalInformation input {
    margin: 1.91%;
    width: 2vh;
    height: 2vh;
}
.bottomPadding{
    position: absolute;
    top: 111%;
    height: 4%;
    border-style: solid;
    border-color: white;
}

.Background{
    position: fixed;
    right: 0;
    top: 5.185185%;
    height: 100%;
    width: 38.8%;
    background-color: #F8F8F8;
  }

.Inactive-Unit-Button{
    background-color: white;
    color: black;
    border-radius: 30px;
    outline: none !important;
    border-width: 1px;
    width: 3.9vw;
    height: 4.9vh;
    transition: ease background-color 250ms;
    transition: ease color 250ms;
    margin: .8vw;
    cursor: pointer;
}

.Inactive-Unit-Button:hover {
    background-color: grey;
    color: white;
}

.Active-Unit-Button{
    background-color: grey;
    color: white;
    border-radius: 30px;
    outline: none !important;
    border-width: 1px;
    width: 3.9vw;
    height: 4.9vh;
    transition: ease background-color 250ms;
    transition: ease color 250ms;
    margin: .8vw;
    cursor: pointer;
}