.PreviewPane {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 39%;
    height: 95%;
}

.PreviewBox {
    position: relative;
    margin: auto;
    margin-top: 3%;
    width: 80%;
    height: 35%;
    border-radius: 25px;
    border: 3px solid black;
    /* text-align: center; */
    padding: 10px;
}


.PreviewText {
    text-align: center;
    margin-top: 3%;
}

.WeightButtons {
    margin: auto;
    width: fit-content;
    bottom: 0;
}

.Heading {
    display: inline-block;
}

.MedName {
    font-size: 20px;
}


.InfoButton {
    position: absolute;
    display: inline-block;
    right: 10px;
    width:40px;
    height:40px;
    border-radius:30px;
}

.NotesBlock {
    display: inline-block;
    width: 70%;
}

.AdministerButtonBlock {
    position: absolute;
    display: inline-block;
    width: 30%;
    right: 10px;
}
